<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center">
    <div class="input-container">
      <label for="username">Username</label>
      <input 
        type="text"
        name="username"
        id="username"
        required
        class="input-field"
      />
    </div>
    <div class="input-container">
      <label for="pw">Password</label>
      <input
        type="password"
        name="pw"
        id="pw"
        required
        minlength="6"
        maxlength="20"
        class="input-field"
      />
    </div>
  </div>
  <div class="button-wrapper">
    <ion-button (click)="onLogin()">Login</ion-button>
    <ion-button routerLink="/home">Homepage</ion-button>
  </div>
</ion-content>
