<ion-header>
  <ion-toolbar>
    <ion-title>Get a Quote</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Street Address</ion-label>
    <ion-input type="text" [(ngModel)]="street_address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>City</ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>State</ion-label>
    <ion-input type="text" [(ngModel)]="state"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Zip Code</ion-label>
    <ion-input type="text" [(ngModel)]="zip_code"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gallons Requested</ion-label>
    <ion-input type="number" [(ngModel)]="gallons_requested"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Delivery Date</ion-label>
    <ion-input type="date" [(ngModel)]="delivery_date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Suggested Price/Gallon</ion-label>
    <ion-input type="text" [value]="suggested_price | currency:'USD':'symbol':'1.2-2'"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Amount Due</ion-label>
    <ion-input type="text" [value]="total_amount | currency:'USD':'symbol':'1.2-2'"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="onSubmitQuote()">Submit Quote</ion-button>
</ion-content>
