<ion-header>
  <ion-toolbar>
    <ion-title>Get Quote</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Street Address</ion-label>
    <ion-input type="text" [(ngModel)]="street_address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>City</ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>
  <!-- Replace the State input with an ion-select dropdown -->
  <ion-item>
    <ion-label>State</ion-label>
    <ion-select [(ngModel)]="state" (ionChange)="onStateChange($event)">
      <ion-select-option *ngFor="let state of states" [value]="state.abbreviation">
        {{ state.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Zip Code</ion-label>
    <ion-input type="text" [(ngModel)]="zip_code"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gallons Requested</ion-label>
    <ion-input type="number" [(ngModel)]="gallons_requested"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Delivery Date</ion-label>
    <ion-input type="date" [(ngModel)]="delivery_date"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Suggested Price/Gallon</ion-label>
    <ion-input type="number" [(ngModel)]="suggested_price" [value]="suggested_price | currency:'USD':'symbol':'1.2-2'" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total Amount Due</ion-label>
    <ion-input type="number" [(ngModel)]="total_amount" [value]="total_amount | currency:'USD':'symbol':'1.2-2'" readonly></ion-input>
  </ion-item>
  
  <ion-button type="button" (click)="getQuote()" [disabled]="isFormEmpty()">Get Quote</ion-button>
  <ion-button type="submit" [disabled]="isFormEmpty()">Submit Quote</ion-button>
  
</ion-content>