<ion-header>
  <ion-toolbar>
    <ion-title>Profile Update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label><b>Name: </b></ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 1:</b></ion-label>
        <ion-input [(ngModel)]="address1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 2: </b></ion-label>
        <ion-input [(ngModel)]="address2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>City: </b></ion-label>
        <ion-input [(ngModel)]="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>State: </b></ion-label>
        <ion-input [(ngModel)]="state"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Zipcode: </b></ion-label>
        <ion-input type="number" [(ngModel)]="zipcode"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <ion-content class="ion-padding">
    <div class="button-wrapper">
      <ion-button (click)="onSave()">Save</ion-button>
    </div>
  </ion-content>
</ion-content>
