<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label><b>Name: </b></ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 1:</b></ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Address 2: </b></ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>City: </b></ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>State: </b></ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label><b>Zipcode: </b></ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-list>
  </div>

  <ion-content class="ion-padding">
    <div class="button-wrapper">
      <ion-button [routerLink]="['/tabs/profile']">Save</ion-button>
    </div>
  </ion-content>
</ion-content>
