.container {
  background-image: url('assets/shapes.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-align: center;
}
p {
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  text-align: center;
}